<!DOCTYPE html>
<html lang="en">
      <%- include('./partial/head') %>
      <body>
      <%- include('./partial/header') %>

    <section class="banner-principal">
          <img src="./images/img-home-banner.jpg" alt="banner">
    </section>
    <main class="main-home display-flex">
          <section class="visitados">
                <div class="titulos-visitas">
                      <p>Basado en tu última visita</p>
                </div>
                
                <article class="display-flex">
                      <div class="article-img">
                            <a href=""><img  class="img-prod" src="/images/img-cafetera-moulinex.jpg" alt=""></a>
                      </div>
                      
                      <div class="articulo">
                            <div class="justify-end display-flex">
                                  <div><i class="fas fa-truck"></i></div>
                            </div>
                            <div class="display-flex width-100" >
                                  <p class="precios">$6.770</p>
                                  <p class="descuentos">40% OFF</p>
                            </div>
                            <a href=""><h1 class="nombre-producto">Cafetera Moulinex Dolce Gusto</h1></a>
                            <p class="descrip">Lorem ipsum, dolor sit amet.</p>
                      </div>        
                </article>

                <article  class="display-flex">
                      <div class="article-img">
                            <a href=""><img  class="img-prod" src="./images/img-macbook-pro-2019.jpg" alt=""></a>
                      </div>
                      
                      <div class="articulo">
                            <div class="justify-end display-flex width-100">
                                  <div><i class="fas fa-truck"></i></div>
                            </div>
                            <div class="display-flex" >
                                  <p class="precios">$230.000</p>
                                  <p class="descuentos">20% OFF</p>
                            </div>
                            <a href=""><h1 class="nombre-producto">Macbook Pro 2019</h1></a>
                            <p class="descrip">Lorem ipsum, dolor sit amet.</p>
                      </div>                                 
                </article>

                <article  class="display-flex">
                      <div>
                            <a href=""><img class="img-prod" src="./images/img-samsung-galaxy-s10.jpg" alt=""></a>
                      </div>
                      
                      <div class="articulo">
                            <div class="justify-end display-flex width-100">
                                  <div href="#"><i class="fas fa-truck"></i></div>
                            </div>
                            <div class="display-flex" >
                                  <p class="precios">$70.500</p>
                                  <p class="descuentos">15% OFF</p>
                            </div>
                            <a href=""><h1 class="nombre-producto">Teléfono móvil Samsung Galaxy S10</h1></a>
                            <p class="descrip">Lorem ipsum, dolor sit amet.</p>
                      </div>
                                                
                </article>

                <article  class="display-flex">
                      <div>
                            <a href=""><img class="img-prod" src="./images/img-tv-samsung-smart.jpg" alt=""></a>
                      </div>
                      
                      <div class="articulo">
                            <div class="justify-end display-flex">
                                  <div href="#"><i class="fas fa-truck"></i></div>
                            </div>
                            <div class="display-flex" >
                                  <p class="precios">$34.000</p>
                                  <p class="descuentos">5% OFF</p>
                            </div>
                            <a href=""><h1 class="nombre-producto">SmartTv Samsung 43"</h1></a>
                            <p class="descrip">Lorem ipsum, dolor sit amet.</p>
                      </div>
                                                
                </article>
          </section>
          <section class="en-ofertas">    
                 <div class="titulos-ofer"><p>Ofertas</p></div>
                <article class="display-flex">
                      <div class="article-img">
                            <a href=""><img class="img-prod" src="/images/img-cafetera-moulinex.jpg" alt=""></a>
                      </div>
                      
                      <div class="articulo">
                            <div class="justify-end display-flex width-100">
                                  <div><i class="fas fa-truck"></i></div>
                            </div>
                            <div class="display-flex" >
                                  <p class="precios">$6.770</p>
                                  <p class="descuentos">40% OFF</p>
                            </div>
                            <a href=""><h1 class="nombre-producto">Cafetera Moulinex Dolce Gusto</h1></a>
                            <p class="descrip">Lorem ipsum, dolor sit amet.</p>
                      </div>        
                </article>

                <article class="display-flex">
                      <div>
                            <a href=""><img class="img-prod" src="./images/img-macbook-pro-2019.jpg" alt=""></a>
                      </div>
                      <div class="articulo">
                            <div class="justify-end display-flex width-100">
                                  <div><i class="fas fa-truck"></i></div>
                            </div>
                            <div class="display-flex" >
                                  <p class="precios">$230.000</p>
                                  <p class="descuentos">20% OFF</p>
                            </div>
                            <a href=""><h1 class="nombre-producto">Macbook Pro 2019</h1></a>
                            <p class="descrip">Lorem ipsum, dolor sit amet.</p>
                      </div>                                 
                </article>

                <article class="display-flex">
                      <div>
                            <a href=""><img class="img-prod" src="./images/img-samsung-galaxy-s10.jpg" alt=""></a>
                      </div>
                      
                      <div class="articulo">
                            <div class="justify-end display-flex width-100">
                                  <div><i class="fas fa-truck"></i></div>
                            </div>
                            <div class="display-flex" >
                                  <p class="precios">$70.500</p>
                                  <p class="descuentos">15% OFF</p>
                            </div>
                            <a href=""><h1 class="nombre-producto">Teléfono móvil Samsung Galaxy S10</h1></a>
                            <p class="descrip">Lorem ipsum, dolor sit amet.</p>
                      </div>
                                                
                </article>
                
                <article class="display-flex">
                      <div>
                            <a href=""><img class="img-prod" src="./images/img-tv-samsung-smart.jpg" alt=""></a>
                      </div>
                      
                      <div class="articulo">
                            <div class="justify-end display-flex width-100">
                                  <div><i class="fas fa-truck"></i></div>
                            </div>
                            <div class="display-flex" >
                                  <p class="precios">$34.000</p>
                                  <p class="descuentos">5% OFF</p>
                            </div>
                            <a href=""><h1 class="nombre-producto">SmartTv Samsung 43"</h1></a>
                            <p class="descrip">Lorem ipsum, dolor sit amet.</p>
                      </div>
                                                
                </article>
          </section>
    </main>
</body>
<%- include("./partial/footer") %>
</html>
