<!DOCTYPE html>
<html lang="en">
      <%- include('../partial/head') %>
      <body>
      <%- include('../partial/header') %>

<main class="login-cont">
    <form class="login" action="/">
          <div>
                <label for="email"></label>
                <input class="email-in" type="email" placeholder="Email">
                <label for="password"></label>
                <input class="pass" type="password" placeholder="Contraseña">
                <button class="send-btn" type="submit"> Enviar</button>                    
          </div>
    </form>
</main>

</body>
<%- include("../partial/footer") %>
</html>