<header>
    <div class="header-logo-search">
          <div class="logo-button"> 
                <a href="/"><img  src="/images/logo-mercado-liebre.svg" alt="logo" ></a> 
          </div>      
          <div class="search-input w-grow-1">
                <form class="nav-search" action="#">
                      <input type="search" placeholder="Buscar productos, marcas y más... ">
                      <div class="search-icon d-flex">
                            <a href="#"><i class="fas fa-search"></i></a>
                      </div>
                </form>          
          </div>

    </div>
               
    <div class="parrafos-inicio">                 
          <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <nav #navegacion>
          <div class="menu-container">
                <div class="nav-button">
                      <i class="fas fa-bars"></i>
                </div>
                
                <div class="links">
                      <ul>
                            <li><a href="#" class="hover-nav">Ofertas</a></li>
                            <li><a href="#" class="hover-nav">Tiendas oficiales</a></li>
                            <li><a href="#" class="hover-nav">Vender</a></li>
                            <li><a href="#" class="hover-nav">Ayuda</a></li>
                            <li><a href="/users/register" class="hover-nav">Crea tu cuenta</a><i class="fas fa-id-card"></i></li>
                            <li><a href="/users/login" class="hover-nav">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
                            <li><a href="#" class="hover-nav">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                      </ul>
                </div>
          </div>          
    </nav>
</header>